{% extends "base.html" %}


{% block page_name %}
Home
{% endblock page_name %}

{% block content %}
<div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>
</div>
<div>
    <h2>BY : {{room.host.username}}
        {%if room.host.username%}
        (superhost)
        {%endif%}
    </h2>
    <h3>Amenities</h3>
    <ul>
        {%for a in room.amenities.all%}
        <li>{{a}}</li>
        {%endfor%}
    </ul>
    <h4>Facilities</h4>
    <ul>
        {%for f in room.facilities.all%}
        <li>{{f}}</li>
        {%endfor%}
    </ul>
    <h5>House Rule</h5>
    <ul>
        {%for houseRule in room.house_rules.all%}
        <li>{{houseRule}}</li>
        {%endfor%}
    </ul>
</div>
{% endblock %}