{% extends "base.html" %}


{% block page_title %}
{{room.name}}
{% endblock page_title %}

{% block content %}
<div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>
</div>
<div>
    <h2>By: <a href="{{room.host.get_absolute_url}}">{{room.host.username}}</a>
        {%if room.host.username%}
        (superhost)
        {%endif%}
    </h2>
    <h3>Amenities</h3>
    <ul>
        {%for a in room.amenities.all%}
        <li>{{a}}</li>
        {%endfor%}
    </ul>
    <h4>Facilities</h4>
    <ul>
        {%for f in room.facilities.all%}
        <li>{{f}}</li>
        {%endfor%}
    </ul>
    <h5>House Rule</h5>
    <ul>
        {%for houseRule in room.house_rules.all%}
        <li>{{houseRule}}</li>
        {%endfor%}
    </ul>
</div>
{% endblock %}